{% extends "base/base.html" %}

{% block content %}

<div class="hero-unit">
	<h1>PyPit</h1>
	<p>Which packages will emerge victorious?</p>

    <h2>Latest Packages</h2>

    <p>
        Total releases: <strong>{{ release_count }}</strong><br/>
        Total packages: <strong>{{ package_count }}</strong>
    </p>

    <ul>
        {% for release in releases.limit(20) %}
            <li>
                <a href="{{ url_for('.package', package_name=release.package.name) }}">
                    <strong>{{ release.package.name }}</strong> ({{ release.version}})
                </a>
            </li>
        {% endfor %}
    </ul>

</div>

{% endblock %}
